/*
CSS Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #646464;
}

a:link, a:visited { color: #1b9cd5; text-decoration: none; } 
a:active, a:hover { color: #000000; text-decoration: underline; }

.button_01 a {
	display: block;
	width: 100px;
	height: 22px;
	padding: 2px 0 0 0;
	background: url(images/templatemo_button_01.png) no-repeat;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.button_01 a:hover {
	text-decoration: underline;
}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }

.margin_r10 { margin-right: 10px; }

.float_l { float: left; }
.float_r { float:  right; }

#templatemo_wrapper_outer {
	width: 100%;
	background: url(images/templatemo_body_bottom.png);
	background-repeat: repeat-x;
	background-position: bottom;	
}

#templatemo_wrapper {
	width: 970px;
	padding: 0 10px;
	margin: 0 auto;
}

#temmplatmeo_header {
	height: 58px;
	background: url(images/templatemo_menu.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

/* site title */
#temmplatmeo_header  #site_title {
	float: left;
	width: 260px;
	padding: 10px 0 0 30px;
}

#site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title a span {
	display: block;
	margin-top: 5px;
	color: #888888;
	font-size: 12px;
}
/* end of site title */

/* menu */
#temmplatmeo_header #templatemo_menu {
	float: right;
	height: 34px;
	margin-top: 12px;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 27px;
	width: 67px;
	margin-left: 10px;
	padding: 7px 5px 0 5px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #fff;	
	font-weight: normal;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(images/templatemo_menu_hover.png) no-repeat;
}
/* end of menu */

/* banner */
#templatemo_banner {
	clear: both;
	width: 970px;
	height: 222px;
	padding: 20px 0 0 0;
	overflow: hidden;
	background: url(images/templatemo_banner.jpg) no-repeat;
}

#templatemo_banner h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	margin-top: 20px;
	color: #006699;
}

#templatemo_banner p {
	text-align: justify;
	margin-bottom: 15px;
	color: #444444;
}

#templatemo_banner .banner_image {
	float: left;
	position: relative;
	width: 330px;
	height: 146px;	
	padding: 29px;
	margin-left: 10px;
	margin-right: 40px;
}

#templatemo_banner .banner_image span {
	position: absolute;
	width: 388px;
	height: 204px;
	top: 0;
	left: 0;
	z-index: 1000;
	background: url(images/templatemo_banner_image_frame.png);
	background-repeat: no-repeat;
}
/* end of banner */

/* content */
#templatemo_content_wrapper {
	clear: both;
	width: 970px;
	padding: 30px 0;
}

#content {
	float: left;
	margin-left: 30px;
	width: 610px;
}

#sidebar {
	float: right;
	width: 300px;
}

.divider {
	border-bottom: 1px solid #d6d6d6;
}

.section_w610 {
	clear: both;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

#templatemo_content_wrapper h2 {
	color: #252525;
	font-weight: normal;
	font-size: 25px;
	margin: 0 0 25px 0;
}

#templatemo_content_wrapper p {
	margin-bottom: 6px;
	text-align: justify;
}

#templatemo_content_wrapper strong {
	color: #17aba6;
	font-weight: bold;	
}

#templatemo_content_wrapper .list_01 {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#templatemo_content_wrapper .list_01 li {
	display: block;
	float: left;
	width: 250px;
	margin: 0 10px 5px 0;
	padding: 5px 0 5px 40px;
	background: url(images/templatemo_list_icon.png) no-repeat center left;
}

.gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 190px;
	height: 88px;
	margin-right: 13px;
	background: url(images/templatemo_project_image_frame.png);
	background-repeat: no-repeat;
}

.gallery li a {
	display: block;
	margin: 8px;
	text-decoration: none;
}

.gallery li a img {
	margin-bottom: 15px;
}

.gallery li a span {
	margin-top: 5px;
	color: #5e5e5e;
	font-weight: normal;
}

.news_section {
	padding: 20px 20px 0 20px;
	background: url(images/templatemo_news_bg.png);
	background-repeat: repeat-x;
	background-position: top;
}

#sidebar h2 {
	margin: 0 0 5px 0;
	padding: 15px 0 0 60px;
	height: 35px;
}

#sidebar h3 {
	color: #3b3b3b;
	margin: 0 0 10px 0;
	font-size: 15px;
	font-weight: bold;
}

#sidebar .news {
	background: url(images/news_icon.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#sidebar .testimonial {
	background: url(images/testimonial_icon.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#sidebar .news_box {
	clear: both;
	margin-bottom: 40px;
}

#sidebar .news_box .date {
	float: right;
	color: #1b9cd5;
	font-size: 11px;
}

.news_box a {
	color: #666666;
	text-decoration: none;
}

.news_box a:hover {
	color: #000000;
}

#testimonial_section {
	padding: 20px 0 0 0;
	background: url(images/templatemo_testimonial.png);
	background-repeat: repeat-x;
	background-position: top;
}

.testimonial_box {
	margin: 5px 20px;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 910px;
	margin: 0 auto;
	padding: 30px;
	color: #646464;
	background: #181818;
}

#templatemo_footer p {
	margin-bottom: 10px;
	text-align: justify;
}

#templatemo_footer span {
	color: #7989ae;
}

#templatemo_footer a {
	color: #646464;
	text-decoration: underline;
}

#templatemo_footer h3 {
	font-size: 18px;
	margin: 0 0 20px 0;
	color: #999999;
	font-weight: normal;
	margin-bottom: 10px;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

#templatemo_footer .footer_menu_list li a {
	color: #646464;
	font-weight: normal;
	text-decoration: underline;
}

#templatemo_footer .footer_menu_list li a:hover {
	color: #999999;
	text-decoration: none;
}

.about {
	float: left;
	width: 250px;
	margin-right: 40px;
}

.link_section {
	float: left;
	width: 140px;
	margin-right: 40px;
}

.contactus_section {
	float: right;
	width: 225px;
}
#templatemo_footer #footer_friend {
	cursor:text;
	color:#999999;
	text-decoration:none;
}
#copyright {
	padding: 20px;
	text-align: center;
	color: #646464;
}

#copyright a {
	color: #646464;
	text-decoration: underline;
	font-weight: normal;
}
#copyright a:hover {
	color: #999999;
}
/* end of footer */