<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">

<h:head>
	<title>Visualizador de Documentos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="#{request.contextPath}/resources/WebDocViewer/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/WebDocViewer/atalaWebDocumentViewer.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/WebDocViewer/visualizador.css" rel="stylesheet" type="text/css"/>
	<link href="#{request.contextPath}/resources/css/templatemo_style.css" rel="stylesheet" type="text/css" media="all"/>
</h:head>

<h:body>
	<script type="text/javascript" src="#{request.contextPath}/resources/WebDocViewer/jquery.easing.1.3.js" />
	<script type="text/javascript" src="#{request.contextPath}/resources/WebDocViewer/jquery-ui-1.8.14.custom.min.js" />
	<script type="text/javascript" src="#{request.contextPath}/resources/WebDocViewer/raphael-min.js"></script>
	<script type="text/javascript" src="#{request.contextPath}/resources/WebDocViewer/atalaWebDocumentViewer.js" />
	<script type="text/javascript" src="#{request.contextPath}/resources/js/visualizador.js" />
	<script type="text/javascript" src="#{request.contextPath}/resources/js/anotacoes.js" />
	<script type="text/javascript">
	//<![CDATA[
		function visualizarDocumento(nomeArquivo) {
			if (nomeArquivo != null) {
				var docUrl = '/webapp/exemplo/6Page.pdf';
				//var docUrl = 'c:\\temp\\arquivos\\v43n1a1.dff';
				RichFaces.$('painelVisualizador').show();
				try {
					_viewer.OpenUrl(docUrl);
					$("#nomeArquivo").html(nomeArquivo);
				} catch (e) {
					alert("Erro exibindo arquivo: " + e.message + ".");
				}
			}
		}
	//]]>
	</script>

	<h:form prependId="false">
		<h:panelGrid columns="1">
			<h:panelGroup id="statusPanel"></h:panelGroup>
			<rich:messages></rich:messages>
		</h:panelGrid>
		<br/>
		<rich:dataTable id="arquivos" value="#{arquivoBean.arquivos}" var="arquivo" rows="10">
			<f:facet name="header">
				<rich:columnGroup>
					<rich:column>
						<h:outputText value="Formato" />
					</rich:column>

					<rich:column>
						<h:outputText value="Arquivo" />
					</rich:column>
				</rich:columnGroup>
			</f:facet>

			<rich:column>
				<h:outputText value="#{arquivo.extensao}" />
			</rich:column>
			<rich:column>
				<a4j:commandLink value="#{arquivo.nome}"
					action="#{arquivoBean.visualizarArquivo(arquivo.id)}"
			 		data="#{arquivoBean.nomeArquivo}"
			 		oncomplete="visualizarDocumento(event.data)"
			 		status="aguardeModalStatus"/>
			</rich:column>
		</rich:dataTable>
		<rich:dataScroller for="arquivos" maxPages="5" />
		
		<ui:include src="/visualizador.xhtml" />
	</h:form>
</h:body>
</html>