<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:c="http://java.sun.com/jsp/jstl/core">
	    
	<h:head>
	   	<link href="#{request.contextPath}/resources/css/jqueryUI/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
		<link href="#{request.contextPath}/resources/WebDocViewer/atalaWebDocumentViewer.css" rel="stylesheet" type="text/css" />
		<link href="#{request.contextPath}/resources/WebDocViewer/visualizador.css" rel="stylesheet" type="text/css" />
	</h:head>
	
	<h:outputScript name="WebDocViewer/jquery-1.7.1.min.js" />
	<h:outputScript name="WebDocViewer/jquery.easing.1.3.js" />
	<h:outputScript name="js/jquery-ui-1.9.2.custom.js" />
	<h:outputScript name="WebDocViewer/raphael-min.js" />
	<h:outputScript name="WebDocViewer/atalaWebDocumentViewer.js" />
	<h:outputScript name="js/visualizador.js" charset="utf-8" />

	<script type="text/javascript" >
	//<![CDATA[
		$(function() {
			Visualizador.abrir("C:\\\\temp\\\\Boleto - JoinCommunity 2014.pdf");
		});
		
		function atualizarVisualizador(visualizadorTO, numeroPagina) {
			if (numeroPagina) {
				Visualizador.irParaPagina(numeroPagina);
			} else {
				// invoca navegador para download
				Visualizador.abrir(visualizadorTO);
			}
		}
	//]]>
	</script>
	
	<h:panelGrid columns="1" cellpadding="0" cellspacing="0">
		<h:panelGrid columns="1">
			<div id="visualizador-arvore2">
				<div class="main-viewer">
					<div class="atala-document-toolbar"></div>
					<div class="inner-viewer">
						<div class="atala-document-thumbs" style="height: 500px;"></div>
						<div class="clickmeleft" style="height: 500px; width: 500px;"></div>
						<div class="atala-document-viewer" style="width: 615px; height: 500px;"></div>
					</div>
				</div>
			</div>
		</h:panelGrid>
	</h:panelGrid>
</ui:composition>