<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<rich:popupPanel id="painelVisualizador" modal="true" autosized="true"
		onmaskclick="#{rich:component('painelVisualizador')}.hide()">
		<f:facet name="header">
			<span id="nomeArquivo"></span>
		</f:facet>
		<f:facet name="controls">
			<h:outputLink value="#" onclick="#{rich:component('painelVisualizador')}.hide(); return false;">
				<h:graphicImage value="/resources/imagens/fechar-pequeno.png" style="border-style: none" />
			</h:outputLink>
		</f:facet>
		<div class="main-viewer">
			<div class="atala-document-toolbar"></div>
			<div class="inner-viewer">
				<div class="atala-document-thumbs" style="height: 500px;"></div>
				<div class="clickmeleft" style="height: 500px; width: "></div>
				<div class="atala-document-viewer" style="width: 615px; height: 500px;"></div>
			</div>
		</div>
	</rich:popupPanel>
	
	<rich:popupPanel id="aguardeModal" style="text-align: center" autosized="true" modal="true" width="200">
		<h:graphicImage value="resources/imagens/preloader.gif" />
	</rich:popupPanel>
	
	<a4j:status name="aguardeModalStatus">
		<f:facet name="start">
			<rich:componentControl event="start" operation="show" target="aguardeModal" />
		</f:facet>
		<f:facet name="stop">
			<rich:componentControl event="stop" operation="hide" target="aguardeModal" />
		</f:facet>
	</a4j:status>
</html>