<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">

<h:outputStylesheet>
	.top {
		vertical-align: top;
		width: 50%;
	}
	.bold {
		font-weight: bold;
	}
</h:outputStylesheet>

<h:panelGrid columns="2" columnClasses="top,top" width="60%" >
	<h:form>
		<rich:tree id="tree" nodeType="#{no.tipo}" var="no" value="#{arvoreProcessoBean.noRaiz}" toggleType="client"
			selectionType="ajax" selectionChangeListener="#{arvoreProcessoBean.selecaoModificada}">
			<rich:treeNode type="PROCESSO">
				Processo '#{no.nome}'
			</rich:treeNode>
			<rich:treeNode type="VOLUME" iconExpanded="/images/tree/disc.gif" iconCollapsed="/images/tree/disc.gif">
            	Volume '#{no.nome}'
			</rich:treeNode>
			<rich:treeNode type="ANEXO" iconLeaf="/images/tree/song.gif">
				Anexo '#{no.nome}'
			</rich:treeNode>
			<rich:treeNode type="DOCUMENTO" iconLeaf="/images/tree/song.gif">
				Documento '#{no.nome}'
			</rich:treeNode>
		</rich:tree>
	</h:form>
</h:panelGrid>
</html>