.atala-ui {
	font-size: 12px;
}

.clickme {
	height: 100%;
	width: 7px;
	display: inline-block;
	margin-right: -3px;
	background: #dddddd; /* Old browsers */
	background: url('images/left_small.png') no-repeat center;
}

.clickmehoverleft {
	background: url('images/left_small.png') no-repeat center,
		-moz-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* FF3.6+ */
	background: url('images/left_small.png') no-repeat center,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd),
		color-stop(50%, #51b4f0), color-stop(100%, #dddddd));
	/* Chrome,Safari4+ */
	background: url('images/left_small.png') no-repeat center,
		-webkit-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* Chrome10+,Safari5.1+ */
	background: url('images/left_small.png') no-repeat center,
		-o-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* Opera 11.10+ */
	background: url('images/left_small.png') no-repeat center,
		-ms-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* IE10+ */
	background: url('images/left_small.png') no-repeat center,
		linear-gradient(to bottom, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* W3C */
}

.clickmehoverright {
	background: url('images/right_small.png') no-repeat center,
		-moz-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* FF3.6+ */
	background: url('images/right_small.png') no-repeat center,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd),
		color-stop(50%, #51b4f0), color-stop(100%, #dddddd));
	/* Chrome,Safari4+ */
	background: url('images/right_small.png') no-repeat center,
		-webkit-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* Chrome10+,Safari5.1+ */
	background: url('images/right_small.png') no-repeat center,
		-o-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* Opera 11.10+ */
	background: url('images/right_small.png') no-repeat center,
		-ms-linear-gradient(top, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* IE10+ */
	background: url('images/right_small.png') no-repeat center,
		linear-gradient(to bottom, #dddddd 0%, #51b4f0 50%, #dddddd 100%);
	/* W3C */
}

.main-viewer {
	display: inline-block;
	width: 755px;
	margin: auto;
	vertical-align: top;
	margin-right: -5px;
	height: 100%;
}

.atala-document-thumbs {
	width: 130px;
	display: inline-block;
	margin-right: -3px;
}

.clickmeleft {
	width: 7px;
	display: inline-block;
	margin-right: -3px;
	background: #dddddd;
	background: #dddddd url('images/left_small.png') no-repeat center;
}

.clickmeright {
	height: 100%;
	width: 7px;
	display: inline-block;
	margin-right: -3px;
	background: #dddddd;
	background: #dddddd url('images/right_small.png') no-repeat center;
}

.atala-document-toolbar div {
	display: inline-block;
}

.atala-document-viewer {
	height: 100%;
	display: inline-block;
}

.header-visualizador {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}